@import './base.css';


#app > *:not(header, footer, .signup-container) {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding-inline: 2rem;
}

#app > *:has(.signup-container) {
  max-width: none !important;
  padding-inline: 0 !important;
  margin: 0 !important;
}